.navbar {
    background-color: #312B5E;

    .profile-side {
        display: flex;
        align-items: center;
        justify-content: center;

        .profile-img {
            width: 30px;
            height: 30px;
            object-fit: cover;
            border-radius: 20px;
        }
    }


    .brand,
    .nav-link {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            color: #E8BD82;
            text-decoration: underline;
        }

        .list-item {
            img {
                margin-right: 10px;
            }

            img,
            svg {
                vertical-align: middle;
                width: 30px;
                height: 30px;
                object-fit: cover;
                border-radius: 20px;
            }
        }
    }




    .navDropdown {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border: solid 1px white;
        border-radius: 20px;
    }
}